@charset "utf-8";
/* CSS Document */

.weekDays-selector input {
  display: none!important;
}

.login{
	margin: auto;
	width: 50%;
	border: 3px solid black;
	padding: 10px;
	text-align: center;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* custom formatting for checkboxes for days of the week selector */
.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}
